.ipynb_checkpoints
__pycache__
.DS_Store
.*.swp
*.egg-info/
dist/
build/
.idea/*
!.idea/dictionaries
labml
labml_helpers
labml_samples
data
logs
html/
diagrams/
.comet.config
settings.md
labml_app.log
labml_nn/transformers/retro/count_.py
labml_nn/transformers/retro/count_.log
labml_nn/transformers/retro/dataset_only_jaccard.py
labml_nn/transformers/retro/dataset_only_cont_tokens.py
labml_nn/transformers/retro/problematic_chunks.txt
labml_nn/transformers/retro/configs/neighbors/retro_small_model_wikitext103-gpt2_retro_off-2_*
labml_nn/transformers/retro/configs/neighbors/retro_small_model_wikitext103-gpt2-*_*
labml_nn/transformers/retro/scripts/wiki103_only/sent_emb/run_wikitext103_l2_train-gpt2_*.sh
labml_nn/transformers/retro/scripts/wiki103_only/sent_emb/run_wikitext103_l2_train-gpt2-*_*.sh
labml_nn/transformers/retro/scripts/wiki103_only/neighbors/run_wikitext103_l2_train-gpt2-rd44-10_ease.sh
labml_nn/transformers/retro/scripts/wiki103_only/neighbors/run_wikitext103_l2_train-gpt2-2_copy.sh
labml_nn/transformers/retro/sentencepiece_tokenizer/wikitext2_vocab8k_stoi_dict.json
labml_nn/transformers/retro/dataset_3.py
labml_nn/transformers/retro/dataset_2.py
labml_nn/transformers/retro/database_notes.py
labml_nn/transformers/retro/configs/neighbors/retro_small_model_wikitext103-gpt2_retro_off-3.json
labml_nn/transformers/retro/help.py
labml_nn/transformers/retro/help2.py

#convenience
labml_nn/transformers/retro/configs/*
labml_nn/transformers/retro/scripts/*
labml_nn/transformers/retro/jobs.txt
labml_nn/transformers/retro/*.txt
labml_nn/transformers/retro/database_train_*.py
labml_nn/transformers/retro/generation/res-off-slimpajama-beston.txt
labml_nn/transformers/retro/generation/res-off-slimpajama.txt
labml_nn/transformers/retro/generation/res-off-wikitext.txt
labml_nn/transformers/retro/generation/res-on-gauss0.196-slimpajama.txt
labml_nn/transformers/retro/generation/res-on-gauss0.196-wikitext.txt
labml_nn/transformers/retro/generation/res-on-slimpajama.txt
labml_nn/transformers/retro/generation/res-on-wikitext.txt
labml_nn/transformers/retro/generation/20240223/res-retro-off-bbc-news.txt
labml_nn/transformers/retro/generation/20240223/res-retro-off-slimpajama.txt
labml_nn/transformers/retro/generation/20240223/res-retro-off-wikitext.txt
labml_nn/transformers/retro/generation/20240223/res-retro-on-bbc-news.txt
labml_nn/transformers/retro/generation/20240223/res-retro-on-reg-bbc-news.txt
labml_nn/transformers/retro/generation/20240223/res-retro-on-reg-slimpajama.txt
labml_nn/transformers/retro/generation/20240223/res-retro-on-reg-wikitext.txt
labml_nn/transformers/retro/generation/20240223/res-retro-on-slimpajama.txt
labml_nn/transformers/retro/generation/20240223/res-retro-on-wikitext.txt
